* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
    object-fit: cover;
}

section {
    background: #000;
}

h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 5em;
    font-family: sans-serif;
}

h1 span {
    display: inline-block;
    animation: animate 1s ease-in-out;
}

@keyframes animate {
    0% {
        opacity: 0%;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

h1 span:nth-child(1) {
    animation-delay: 0.6s;
}

h1 span:nth-child(2) {
    animation-delay: 1s;
}

h1 span:nth-child(3) {
    animation-delay: 1.7s;
}

h1 span:nth-child(4) {
    animation-delay: 2.3s;
}

h1 span:nth-child(5) {
    animation-delay: 2.7s;
}

h1 span:nth-child(6) {
    animation-delay: 3.2s;
}

h1 span:nth-child(7) {
    animation-delay: 3.7s;
}

h1 span:nth-child(8) {
    animation-delay: 4s;
}

.project__container {
    grid-gap: 2.5rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2.5%;
    width: 90%;
}

.project__item {
    background: #4db5ff;
    border: 0px solid transparent;
    border-radius: 4rem;
    padding: 5rem;
    /* Adjusted padding */
    margin: 2.5rem 0;
    /* Adjusted margin */
    transition: all .4s ease;
}

.project__item:hover {
    border-color: rgba(77, 181, 255, .4);
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    -webkit-transform: perspective(500px) translateZ(30px);
    transform: perspective(500px) translateZ(30px);
}

.project__item-image {
    border-radius: 1.5rem;
    object-fit: fill;
    overflow: hidden;
    width: auto;
}

.project__item h3 {
    color: #2c2c6c;
    margin: 0rem 0;
    /* Adjusted margin */
    text-align: center;
}

.project__item-cta {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 0rem;
}

.btn {
    border: 1px solid #1f1f38;
    border-radius: .4rem;
    color: #1f1f38;
    cursor: pointer;
    display: inline-block;
    padding: .75rem 1.2rem;
    text-decoration: none;
    transition: all .4s ease;
    width: -webkit-max-content;
    width: max-content;
}

.btn:hover {
    background: #fff;
    border-color: transparent;
}

.btn-primary {
    background: #1f1f38;
    color: #fff;
}

#img {
    display: block;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .project__container {
        gap: 1.2rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .project__container {
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}