{% extends "base.html" %}
{% block title %}AboutUs | {% endblock title %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}"> 
{% endblock head %}

{% block body %} 

  <!-- Extra -->
  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">Our Mission</h1>
          <p class="lead text-muted mb-0">At Codify, our mission is to inspire and guide aspiring computer science enthusiasts on their journey of discovery Whether you're a beginner or looking to deepen your knowledge, we have resources tailored for every skill level.</p>
          <p class="lead text-muted mb-0">Our free source code projects are designed not just to teach theory but to provide hands-on experience. Learn by doing, and watch your skills grow with real-world applications.</p>
          <p class="lead text-muted mb-0">Embark on your coding journey with us and unlock a world of possibilities. Together, let's decode the future—one project at a time. 💻✨</p>
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"> Our  Community</i>
          <h2 class="font-weight-light">Welcome to Codify! 🚀</h2>
          <p class="font-italic text-muted mb-4">Engage with like-minded coders, share ideas, and build lasting connections.</p>
          <p class="font-italic text-muted mb-4">Work on exciting projects with peers who share your passion for coding.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Join Us</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Explore the exciting updates and additions happening at Codify. We're dedicated to keeping you informed about the latest features, projects, and educational content.</h2>
          <p class="font-italic text-muted mb-4"></p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <h3>Passionate Minds. Powerful Vision.</h3>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Nikhil Choudhary</h5><span class="small text-uppercase text-muted">Founder</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Akash Choudhary</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Abhisek Rathi</h5><span class="small text-uppercase text-muted">Head of Operations</span>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>



  
  <!--Extra -->
  <footer class="bg-black text-center py-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-light mx-2" onclick="location.href='/TermsAndCondition'">Terms and Conditions</button>
          <button class="btn btn-outline-light mx-2" onclick="location.href='/PrivacyAndPolicy'">Privacy Policy</button>
          <button class="btn btn-outline-light mx-2" onclick="location.href='/Contact'">Contact Us</button>
        </div>
      </div>
    </div>
  </footer>
{% block section %}{% endblock section %}
{% block footer %}{% endblock footer %}
{% endblock body %}