<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} CODIFY</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="your-bootstrap-integrity-code" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="your-font-awesome-integrity-code" crossorigin="anonymous" />
</head>
<body style="background-color: black;">

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CODIFY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Subjects">Subjects</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/SourceCode" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Source Code
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Python</a></li>
                        <li><a class="dropdown-item" href="#">Java</a></li>
                        <li><a class="dropdown-item" href="#">WebDev</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">More..</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contribute">Contribute</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AboutUs">About Us</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
{% endblock nav %}

{% block body %}
<!-- Your body content here -->
{% endblock body %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="your-bootstrap-integrity-code" crossorigin="anonymous"></script>

<!-- Footer Start -->
<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="contact-content text-center">
                    <a href="#"><img src="/static/img/Logo.png" alt="logo"></a>
                    <p>Coding Dreams into Reality with Codify </p>
                    <div class="hr"></div>
                    <h6>Red Gate Street, Ghaziabad 201005, Uttar Pradesh - India.</h6>
                    <h6>+91 XXXXXXX<span>|</span>+91 XXXXXX</h6>
                    <div class="contact-social">
                        <ul>
                            <li><a class="hover-target" href="#"><i class="fab fa-github"></i></a></li>
                            <li><a class="hover-target" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="hover-target" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <p>Copyright &copy; 2023 <img src="/static/img/Logo.png" alt="logo"> All Rights Reserved.</p>
</footer>
<!-- Footer End -->

</body>
</html>
