{% extends "base.html" %} 
{% block head %}
{% block title %}{% endblock title %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock head %}
{% block body %} 
<!-- 1.Carousel Start -->
<div class="container-fluid">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner mx-0 ">
          <div class="carousel-item active">
            <img src="/static/img/carousel/carousel1.jpg" class="d-block w-100" alt="..." style="width: 2600px; height: 300px;">
            <div class="carousel-caption d-none d-md-block">
              <h5>Projects</h5>
              <p>Unleash your coding creativity and bring your ideas to life with our inspiring Projects! 🚀✨.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/carousel/carousel2.jpg" class="d-block w-100" alt="..." style="width: 2600px; height: 300px;">
            <div class="carousel-caption d-none d-md-block">
              <h5>Python</h5>
              <p>Master the language of possibilities – Python, where innovation meets simplicity! 🐍✨.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/carousel/carousel3.jpg" class="d-block w-100" alt="..." style="width: 2600px; height: 300px;">
            <div class="carousel-caption d-none d-md-block">
              <h5>Games</h5>
              <p>Dive into a world of excitement and challenge – Explore the magic of gaming with us! 🎮🌟.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<!-- 1.Carousel End -->

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-2">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <form action="/Subjects" method="get">
          <button type="submit" class="service-item text-center pt-3">
            <div class="p-6">
              <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
              <h5 class="mb-3">Skilled</h5>
              <p>🚀 Elevate your coding game in our Skill section! 🌟</p>
            </div>
          </button>
        </form>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <form action="/SourceCode" method="get">
          <button type="submit" class="service-item text-center pt-3">
            <div class="p-6">
              <i class="fa fa-3x fa-globe text-primary mb-4"></i>
              <h5 class="mb-3">Source Codes</h5>
              <p>Unlock the source of innovation with our Source Code section! 🧠💻</p>
            </div>
          </button>
        </form>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <form action="/SourceCode" method="get">
          <button type="submit" class="service-item text-center pt-3">
            <div class="p-6">
              <i class="fa fa-3x fa-home text-primary mb-4"></i>
              <h5 class="mb-3">Projects</h5>
              <p>Embark on coding adventures with our Projects! 🚀✨</p>
            </div>
          </button>
        </form>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <form action="/Subjects" method="get">
          <button type="submit" class="service-item text-center pt-3">
            <div class="p-6">
              <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
              <h5 class="mb-3">Notes</h5>
              <p>Dive into wisdom with our Notes section! 📚✍️</p>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Service End -->

<!-- About Us Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="position-relative h-100">
          <img class="img-fluid position-absolute w-100 h-100" src="/static/img/Codify/Codify.png" alt="" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <h6 class="section-title text-start text-primary pe-3">About Us</h6>
        <h1 class="mb-4 text-light">Welcome to CODIFY</h1>
        <p class="mb-4 text-light">At CODIFY, we're not just a platform; we're a vibrant community sculpted by aspiring coders. Join us as we decode the future together, one project at a time.</p>
        <p class="mb-4 text-light">Embark on a transformative coding odyssey with us, where passion meets precision, and every algorithm tells a story of empowerment.</p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0 text-light"><i class="fa fa-arrow-right text-primary me-2"></i>Innovation</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0 text-light"><i class="fa fa-arrow-right text-primary me-2"></i>Collaboratio</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0 text-light"><i class="fa fa-arrow-right text-primary me-2"></i>Empowerment</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0 text-light"><i class="fa fa-arrow-right text-primary me-2"></i>Inspiration</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0 text-light"><i class="fa fa-arrow-right text-primary me-2"></i>Excellence</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0 text-light"><i class="fa fa-arrow-right text-primary me-2"></i>Diversity</p>
          </div>
        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" href="/AboutUs">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- About Us End -->
{% endblock body %}
