{% extends "base.html" %}

{% block title %}Source Code | {% endblock title %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sourcecode.css' %}">
    <script src="{% static 'sourcecode.js' %}"></script>
    <!-- Include additional styles or scripts if needed -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock head %}

{% block body %} 


<div>
    <div class="carousel">
        <a class="carousel-item" href="#one!">
            <div class="testi card blue">
                <div class="img-area">
                    <img src="/static/img/Codify/Codify.png">
                </div>
                <div class="card-content white-text">
                    <h3>HTML</h3>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#two!">
            <div class="testi card blue">
                <div class="img-area">
                    <img src="/static/img/Codify/Codify.png">
                </div>
                <div class="card-content white-text">
                    <h3>CSS</h3>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#three!">
            <div class="testi card blue">
                <div class="img-area">
                    <img src="/static/img/Codify/Codify.png">
                </div>
                <div class="card-content white-text">
                    <h3>CSS</h3>
                </div>
            </div>
        </a>
</div>

        <div class="carousel-buttons">
            <button class="carousel-prev">&lt;</button>
            <button class="carousel-next">&gt;</button>
        </div>
</div>

        {% block section %}{% endblock section %}
        {% block footer %}{% endblock footer %}
        {% endblock body %}
