<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>3D Carousel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/sourcecode.css">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CODIFY</a>

            <!-- Use ml-auto class to push the links to the right -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/SourceCode">Source Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contribute">Internship</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Subjects">Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AboutUs">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    

    <div class="carousel">
        <a class="carousel-item" href="/Projects">
            <div class="testi card blue">
                <div class="img-area">
                    <img src="/static/img/Subjects/WebD.png" alt="HTML">
                </div>
                <div class="card-content white-text">
                    <h3>WEB DEVELOPMENT</h3>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#one!">
            <div class="testi card blue">
                <div class="img-area">
                    <img src="/static/img/Subjects/Java.png" alt="JAVA">                
                </div>
                <div class="card-content white-text">
                    <h3>JAVA</h3>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#one!">
            <div class="testi card blue">
                <div class="img-area">
                    <img src="/static/img/Subjects/C++.jpeg" alt="C++">                
                </div>
                <div class="card-content white-text">
                    <h3>C++</h3>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#one!">
            <div class="testi card blue">
                <div class="img-area">
                    <img src="/static/img/Subjects/JavaScript.png" alt="JAVASCRIPT">                
                </div>
                <div class="card-content white-text">
                    <h3>JAVASCRIPT</h3>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#one!">
            <div class="testi card blue">
                <div class="img-area">
                    <img src="/static/img/Subjects/Cloud.png" alt="CLOUD">                
                </div>
                <div class="card-content white-text">
                    <h3>CLOUD</h3>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#one!">
            <div class="testi card blue">
                <div class="img-area">
                    <img src="/static/img/Subjects/Php.png" alt="PHP">                
                </div>
                <div class="card-content white-text">
                    <h3>PHP</h3>
                </div>
            </div>
        </a>
        <!-- Add more carousel items as needed -->
    </div>

    <div class="carousel-buttons">
        <button class="carousel-prev">&lt;</button>
        <button class="carousel-next">&gt;</button>
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/css/sourcecode.js"></script>
    
</body>

</html>
