{% extends "base.html" %}

{% block title %}Subjects | {% endblock title %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/subjects.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="{% static 'js/subjects.js' %}"></script>
{% endblock head %}

{% block body %} 
<section>
<!---- Welcome Codify---->
<div class="Carousel" style="background-image: url('path_to_your_books_image.jpg');">
  <div class="Carousel-content">
      <div class="content-box">
          <p class="Heading">
              Hey Coders :)
          </p>
          <h3>
              Welcome To Codify
          </h3>
          <p class="content">
            Welcome to Codify, your ultimate coding sanctuary! Explore a world of possibilities with our curated collection of free source code and comprehensive coding notes.
          </p>
          <p class="Heading">
            Empowering coders with free source code and notes – welcome to Codify, where lines of code paint the future.
          </p>
          <button>Explore More </button>
      </div>
  </div>
</div>
<!---- Welcom Codify End---->



<!---- Subjects Card Start---->
 
 
 <div class="Courses">
   <h2>Courses</h2>
   <div class="product">
     <img src="/static/img/Subjects/Python.png" class="product-photo">     
     <div class="Courses-content">
       <p class="name">
         Python
       </p>
      </div>
    </div>
   <div class="product">
     <img src="/static/img/Subjects/Java.png" id="sheochange">
     <div class="Courses-content">
       <p class="name">
         Java
       </p>
      </div>
    </div>
   <div class="product">
     <img src="/static/img/Subjects/C.png">
     
    <i class="fa fa-shopping-basket basket"></i>
     <div class="Courses-content">
       <p class="name">
         C
       </p>
      </div>
    </div>
   <div class="product">
     <img src="/static/img/Subjects/C++.jpg">     
     <div class="Courses-content">
       <p class="name">
         C++
       </p>
      </div>
    </div>
   
<!---- Subjects Card End---->

</section>
{% endblock body %}