{% extends "base.html" %} 

{% block head %}

{% block title %}{% endblock title %}
<link rel="stylesheet" href="/static/css/subjects.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">





{% endblock head %}


{% block body %} 



<!-- Codify Smoke  start  -->

<section>
    <video src="smoke.mp4" autoplay muted ></video>
    <h1>
        <span>C</span>
        <span>O</span>
        <span>D</span>
        <span>I</span>
        <span>F</span>
        <span>Y</span>
    </h1>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Codify Smoke  End  -->


<!-- Card section start  -->

<section id="project">
    <div class="container project__container">
        <article class="project__item aos-init aos-animate" data-aos="zoom-in-up">
            <div class="project__item-image">
                <img id="img" src="/static/img/Subjects/Python.png" alt="Pyhton">
            </div>
            <h3 style="font-family: 'Instagram Sans Bold';">Python</h3>
            <div class="project__item-cta">
                <a href="https://drive.google.com/file/d/1e8LVkzRbexmDwT69b_cG5CX7chYGaJ5Y/view?usp=drive_link" class="btn btn-primary" target="_blank" rel="noreferrer" style="font-family: 'Instagram Sans Regular';">Download</a>
            </div>
        </article>
        <article class="project__item aos-init aos-animate" data-aos="zoom-in-up">
            <div class="project__item-image">
                <img id="img" src="/static/img/Subjects/Java.png" alt="Java">
            </div>
            <h3 style="font-family: 'Instagram Sans Bold';">Java</h3>
            <div class="project__item-cta">
                <a href="https://drive.google.com/file/d/1e8LVkzRbexmDwT69b_cG5CX7chYGaJ5Y/view?usp=drive_link" class="btn btn-primary" target="_blank" rel="noreferrer" style="font-family: 'Instagram Sans Regular';">Download</a>
            </div>
        </article>
        <article class="project__item aos-init aos-animate" data-aos="zoom-in-up">
            <div class="project__item-image">
                <img id="img" src="/static/img/Subjects/C.png" alt="C">
            </div>
            <h3 style="font-family: 'Instagram Sans Bold';">C</h3>
            <div class="project__item-cta">
                <a href="https://drive.google.com/file/d/1e8LVkzRbexmDwT69b_cG5CX7chYGaJ5Y/view?usp=drive_link" class="btn btn-primary" target="_blank" rel="noreferrer" style="font-family: 'Instagram Sans Regular';">Download</a>
            </div>
        </article>
        <article class="project__item aos-init aos-animate" data-aos="zoom-in-up">
            <div class="project__item-image">
                <img id="img" src="/static/img/Subjects/C++.jpg" alt="C++">
            </div>
            <h3 style="font-family: 'Instagram Sans Bold';">C++</h3>
            <div class="project__item-cta">
                <a href="https://drive.google.com/file/d/1e8LVkzRbexmDwT69b_cG5CX7chYGaJ5Y/view?usp=drive_link" class="btn btn-primary" target="_blank" rel="noreferrer" style="font-family: 'Instagram Sans Regular';">Download</a>
            </div>
        </article>
        <article class="project__item aos-init aos-animate" data-aos="zoom-in-up">
            <div class="project__item-image">
                <img id="img" src="/static/img/Subjects/Html.png" alt="Html">
            </div>
            <h3 style="font-family: 'Instagram Sans Bold';">Html</h3>
            <div class="project__item-cta">
                <a href="https://drive.google.com/file/d/1e8LVkzRbexmDwT69b_cG5CX7chYGaJ5Y/view?usp=drive_link" class="btn btn-primary" target="_blank" rel="noreferrer" style="font-family: 'Instagram Sans Regular';">Download</a>
            </div>
        </article>
        <article class="project__item aos-init aos-animate" data-aos="zoom-in-up">
            <div class="project__item-image">
                <img id="img" src="/static/img/Subjects/Css.png" alt="CSS">
            </div>
            <h3 style="font-family: 'Instagram Sans Bold';">CSS</h3>
            <div class="project__item-cta">
                <a href="https://drive.google.com/file/d/1e8LVkzRbexmDwT69b_cG5CX7chYGaJ5Y/view?usp=drive_link" class="btn btn-primary" target="_blank" rel="noreferrer" style="font-family: 'Instagram Sans Regular';">Download</a>
            </div>
        </article>

        <!-- Add more articles following the same pattern for additional projects -->

    </div>
</section>


<!-- Card section end  -->

  
 


{% endblock body %}

